absl-py
aiohttp
aiosignal
astunparse
attrs
cachetools
certifi
charset-normalizer
contourpy
cycler
flask
flask-cors
fonttools
frozenlist
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
joblib
keras
kiwisolver
libcst
Markdown
MarkupSafe
matplotlib
ml-dtypes
multidict
numpy
oauthlib
opt-einsum
packaging
pandas
pillow
pip
protobuf
pyarrow
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdata
ucimlrrepo
urllib3
Werkzeug
wheel
wrapt
yarl

